
body {
    background-color: #222;
    
}

#playground {
    background-color: lightgray;
    width: 960px;
    height: 480px;
    margin: auto;
    margin-top: 2em;
    position: relative;
}

#player {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 99px;
    height: 150px;
    background-image: url('assets/player-150.png');
}

#player.room2 {
    width: 194px;
    height: 170px;
    background-image: url('assets/player-room2-194x170.png');
}

#player.room3 {
    width: 274px;
    height: 170px;
    background-image: url('assets/player-room3-274x170.png');
}

#friend1 {
    position: absolute;
    width: 93px;
    height: 170px;
    background-image: url('assets/friend1-170.png');
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#friend2 {
    position: absolute;
    width: 83px;
    height: 120px;
    background-image: url('assets/friend2-120.png');
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#friend3 {
    position: absolute;
    width: 128px;
    height: 150px;
    background-image: url('assets/friend3-150.png');
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.instructions {
    width: 75%;
    max-width: 960px;
    color: #62C1EE;
    font-family: sans-serif;
    font-size: 1.4em;
    margin: 2rem auto;
    display: flex;
}

li {
    list-style-type: none;
}

header {
    width: 75%;
    max-width: 1200px;
    color: #F089BE;
    margin: 0 auto;
    font-family: sans-serif;
}
header h1,
header h2 {
    text-align: left;
}

.title {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F089BE;
    margin: 0 auto;
}
  
h2 {
    color: #62C1EE;
    font-family: sans-serif;
    margin: 2rem auto;
}

footer {
    width: 75%;
    max-width: 960px;
    color: #F089BE;
    font-family: sans-serif;
    font-size: small;
    margin: 0 auto;
    text-align: center;
}


#enter-school-action {
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 1em;
    border-radius: 10px;
    background-color: #62C1EE;
    border: 5px dashed #F089BE;
    color: black;
    font-family: sans-serif;
}

#playground.scene-intro-background {
    background-color: #111;
}
#playground.scene-2-background {
    background-color: rgb(23, 51, 46);
}
#playground.scene-3-background {
    background-color: rgb(73, 50, 100);
}
#playground.scene-4-background {
    background-color: rgb(175, 85, 152);
}

.scene-dialog {
  padding: 0.5em;
  border-radius: 10px;
  width: 50%;
  margin: 1em auto;
  background-color: #62C1EE;
  border: 5px dashed #F089BE;
  color: black;
  font-family: sans-serif;
}

.space {
  text-align: right;
  font-size: small;
  color: black;
}